@import url("colors.css");

.notification-row .notification-background .notification {
	background: @bg-alpha;
	border: 2px solid @border;
	border-radius: 0px;
	padding: 10px;
	color: @text;
	font: 12px "JetBrainsMono Nerd Font";
}
