// Mirror theme

* {
    bg: #12100d;
    border: #3a3226;
    text: #e6e0d4;
    text-alt: #92896e;
    accent: #b39a5f;
    accent-alt: #b85a4a;
    accent-extra: #b08560;
    accent-alt-alpha: #b39a5f33;
    bg-alpha: #12100dE6;
}
