@import "colors"

configuration {
	display-drun: " ";
    	modi: "drun";
	drun-display-format: "{name}";
    	font: "JetBrainsMono Nerd Font 12";
    	show-icons: true;
}

* {
	background-color: transparent;
	text-color: @text;
}

window {
	children: [ mainbox, textbox-current-entry ];
	border: 0px;
	border-radius: 0px;
	background-color: transparent;
	width: 300px;
}

inputbar {
	children: [prompt, entry];
	border: 0px 0px 2px 0px;
	border-radius: 0px;
	border-color: @border;
	padding: 10px;
}

entry {
	placeholder: "";
}

listview {
	columns: 3;
	lines: 6;
	margin: 8px 0px 0px 0px;
	spacing: 8px;
}

element {
	children: [ element-icon ];
	orientation: vertical;
	padding: 4px;
	border-radius: 0px;
}

element selected {
	background-color: @accent-alt-alpha;
}

element-icon {
	size: 2.5em;
	horizontal-align: 0.5;
	background-color: transparent;
	text-color: inherit;
}

element-text {
	horizontal-align: 0.5;
	text-color: inherit;
	background-color: transparent;
}

mainbox {
	children: [ inputbar, listview ];
	border: 2px;
	border-color: @border;
	border-radius: 0px;
	background-color: @bg-alpha;
}

textbox-current-entry {
	margin: 16px 0px 0px 0px;
	padding: 10px;
	border: 2px;
	border-radius: 0px;
	border-color: @border;
	horizontal-align: 0.5;
	text-color: @text;
	background-color: @bg-alpha;
}
